@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.main {
  padding: 2rem;
}

h2 {
  text-align: center;
}

.player-container {
  position: relative;
  display: grid;
  grid-template-columns: 20px 90px auto 30px;
  grid-column-gap: 2%;
  padding: 2em;
  background-color: #efefef;
  border-radius: 100px;
}

.controls-container {
  position: relative;
  text-align: center;
}
.controls-container .btn {
  position: absolute;
  font-size: 20px;
}

.progress-bar-container {
  position: relative;
}
.progress-bar-container #bar,
.progress-bar-container #progress {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.progress-bar-container #progress {
  opacity: 0.8;
}
.progress-bar-container .tick {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  background-color: blue;
  padding: 2px;
}

.speed-control-container .speed {
  font-weight: bold;
  cursor: pointer;
}
.align-center {
  text-align: center;
}

.btn-container {
  padding: 1em;
  text-align: right;
}
.primary-btn {
  padding: 0.75rem;
  font-size: 0.85rem;
  border: none;
  border-radius: 5px;
  background-color: #0096ff;
  color: #fff;
  cursor: pointer;
}
.secondary-btn {
  padding: 0.7rem;
  font-size: 0.85rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.note {
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
}
.jump-button {
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
.showing {
  visibility: visible;
}

.btn {
  cursor: pointer;
  opacity: 0.9;
  -webkit-user-select: none;
  user-select: none;
}
.btn:hover {
  opacity: 1;
}

#bar {
  top: 50%;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #b8b8b8;
  opacity: 0.75;
}
#progress {
  top: 50%;
  left: 0;
  width: 0%;
  height: 10px;
  background-color: black;
  transform: translate(-50%, -50%);
}
